.about {
  text-align: justify-all;
  padding-left: 20px;
  padding-right: 20px;
}

 .title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #138A36;
  }

  .explications {
  text-align: justify;
  }

  .explications h6 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .explications b {
    color: #138A36;
  }
