.logo {
width: 350px;
height: 190px;
// background: url(changerlavie.png);
border-radius: 25px;
justify-content: center;
background-position: center;
}

.logoquater {
  justify-content: center;
  background-position: center;
}

.wrapper {
  width: 100%;
  height: 350px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.arriere-fond {
background-color: #18FF6D;
}

.textebis {
  padding-top: 20px;
  line-height: 10px;

  p {
    font-family: Prosto One;
    font-style: bold;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #18FF6D;
  }

  h3 {
    font-family: arial;
    font-style: bold;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #138A36;
  }
}

  .bouton1 {
  width: 175px;
  height: 68px;
  background: #04E824;
  border-radius: 45px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  }

  .bouton2 {
  width: 175px;
  height: 68px;
  background: #138A36;
  border-radius: 45px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  }

.bouton1:hover
{
text-decoration: none;
color: #18FF6D;
}

.bouton2:hover
{
text-decoration: none;
color: #18FF6D;
}

.bouton1bis {
  padding-top: 100px;
  padding-bottom: 20px
}

.bouton2bis {
  padding-top: 10px;
  padding-bottom: 30px
}

.fondcontainer {
  // background-color: #18FF6D;
  background-color: white;

}

.fondcontainerbas {
  // background-color: #18FF6D;
  background-color: #18FF6D;
  padding-top: 15px;
  border-radius: 15px;
  padding-top: 20px;
}

.fondcontainerlogo {
  background-color: #18FF6D;
  justify-content: center;
  display: flex;
}

.titre-se-connecter {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}


.form-inputs {
  color: white;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.form-actions {
  padding-bottom: 15px;
}

.form-actions2 {
  padding-bottom: 189px;
  display: inline-block;
  align-items: center;
}

.mot-de-passe-oublie {
  display: inline-block;
  text-align: center;
  padding-bottom: 5px;
}

.nouvel_utilisateur {
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
}

.boutonvalider {
  padding-bottom: 40px;
}

.logo-accueil {
  height: 120px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-justify: auto;
  padding-bottom: 3px;
}

.container {
  padding-bottom: 20px;
}

.logotrio {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}

.reseauxsociaux {
  padding-top : 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  z-index: 100;
  background-color: white;
}

.reseauxsociaux img {
  height: 30px;
  filter: sepia(1);
filter: opacity(25%);
}

.reseauxsociaux img:hover {
filter: sepia(0);
-webkit-filter: sepia(0);
}

.net-centered-bis {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.rs {
  padding-bottom: 100px;
}
