// Specific CSS for your home-page
// .arrierefond {
// width: 345px;
// height: 667px;
// background: #18FF6D;
// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// z-index: 2;
// position: sticky;
// display: flex;
// justify-content: center;

//   .texte {
//   position: absolute;
//   width: 275px;
//   height: 137px;
//   font-family: Prosto One;
//   font-style: bold;
//   font-weight: normal;
//   font-size: 26px;
//   line-height: 32px;
//   text-align: center;
//   color: #FFFFFF;

//     p {
//       line-height: 15px;
//       font-family: Purisa;
//       font-weight: bold;
//       font-size: 26px;
//     }
//   }
// }


.logo {
width: 210px;
height: 90px;
background: url(changerlavie.png);
border-radius: 45px;
}

.logoquater {
  padding-top: 50px;
}

.arriere-fond {
background-color: #18FF6D;
}

.textebis {
  padding-top: 50px;

  p {
    font-family: Prosto One;
    font-style: bold;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
  }
}

  .bouton1 {
  width: 175px;
  height: 68px;
  background: #138A36;
  border-radius: 45px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  }

  .bouton2 {
  width: 175px;
  height: 68px;
  background: #138A36;
  border-radius: 45px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  }

.bouton1:hover
{
text-decoration: none;
color: #18FF6D;
}

.bouton2:hover
{
text-decoration: none;
color: #18FF6D;
}

.bouton1bis {
  padding-top: 100px;
  padding-bottom: 20px
}

.bouton2bis {
  padding-top: 10px;
  padding-bottom: 30px
}

.fondcontainer {
  background-color: #18FF6D;
}
