<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Courriel :</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nicolas.goarant@hotmail.fr">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Nom :</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Prénom :</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Ville :</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Téléphone :</label>
    <input class="form-control" id="exampleFormControlInput1" placeholder="06 12 34 56 78">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">"Inform'action" identifiée :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit" class="bouton2">Soumettre </button>

</form>
