<div class="paddingnavbar">
  <div class="container-fluid fixed-top col-md-centered-6 col-sm-6 col-lg-centered-6">
    <div class="row">
      <div class="col-12">
        <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
          <div class="navbar-brand">
            <%= image_tag "changerlavie.png" %>
          </div>
            <div class="slogan">
            <p>&Eacutetonner  &Eacuteclairer  Entraîner</p>
            </div>

          <%= link_to destroy_user_session_path, method: :delete do %>
          <%= image_tag "deconnexion7.png", class: "logonavbar" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
