<%= render 'shared/navbar' %>
<div class="about">
  <div class="title">
  <h5><b>Pourquoi "Changer la vie" ?</b></h5>
  </div>
  <div class="explications">
<h6>"Des espèces de petits pétards". C'est ainsi que le philosophe Michel Foucault aimait à qualifier ses livres. <i>Changer la vie</i>, aussi, fait profession d'artificier.</h6>
<h6>Notre objectif : <b>susciter l'action, l'engagement, la créativité</b>. Nous y sommes tous confrontés : aujourd'hui les informations qui nous parviennent sont tristes. Pesantes. Tragiques. Et nous enferment dans la passivité. </h6>
<h6>Avec <i>Changer la vie</i>, nous voulons publier des informations qui précèdent l'action. Qui mettent à l'honneur et en lumière l'engagement, le risque, la création, et ouvrent à d'innatendus horizons de l'imagination, suscitent un "<i>c'est étonnant</i>", déclenchent un "<i>pourquoi pas moi</i>". </h6>
<h6>A vous de jouer !</h6>
  </div>
</div>
<%= render 'shared/bottom_bar' %>
