<%= render 'shared/navbar' %>
<div class="container-fluid col-md-centered-6 col-sm-6 col-lg-centered-6 colorcontainer marginauto">
  <div class="row-fluid mb-lg-5 mb-md-5 mb-sm-6">
    <div class="about">
      <div class="title">
      <h5><b>Pourquoi <i> "A mon tour !"</i> ?</b></h5>
      </div>
      <div class="explications">
    <h6>"Des espèces de petits pétards". C'est ainsi que le philosophe Michel Foucault aimait à qualifier ses livres. <i>Changer la vie</i>, aussi, fait profession d'artificier.</h6>
    <h6>Notre objectif : <b>susciter l'action, l'engagement, la créativité</b>. Nous y sommes tous confrontés : aujourd'hui les informations qui nous parviennent sont le plus souvent tristes. Pesantes. Tragiques. Elles nous enferment dans la passivité : à leur lecture comme à leur écoute, nous nous sentons récepteurs bien plus qu'acteurs.</h6>
    <h6>Avec <i>A mon tour !</i>, nous voulons publier des informations qui précèdent l'action. <b>Issues de la presse nationale comme locale</b>, elles mettent à l'honneur et en lumière <b>le foisonnement d'initiatives</b> qui ouvrent à d'inattendus horizons de l'imagination, suscitent un "<i>c'est étonnant</i>", déclenchent un "<i>pourquoi pas moi</i>". </h6>
    <h6>Ces <b>"inform-actions"</b> peuvent vous inspirer tout de suite ou bien plus tard. Vous pouvez les ranger dans une bibliothèque, votre bibliothèque. <i>"Changer la vie"</i> se veut participatif : si vous identifiez des actions enthousiasmantes, des informations étonnantes, des innovations passionnantes, n'hésitez à nous les relayer.</h6>
    <h6><b>A vous de jouer !</b></h6>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/bottom_bar' %>
