<%= render 'shared/navbar' %>
<div class="container-fluid col-md-centered-6 col-sm-8 col-lg-centered-6 colorcontainer">
  <div class="row-fluid">
    <div class="about">
      <div class="title">
      <h5><b>Pourquoi "Changer la vie" ?</b></h5>
      </div>
      <div class="explications">
    <h6>"Des espèces de petits pétards". C'est ainsi que le philosophe Michel Foucault aimait à qualifier ses livres. <i>Changer la vie</i>, aussi, fait profession d'artificier.</h6>
    <h6>Notre objectif : <b>susciter l'action, l'engagement, la créativité</b>. Car nous y sommes tous confrontés : aujourd'hui les informations qui nous parviennent sont le plus souvent tristes. Pesantes. Tragiques. Elles nous enferment dans la passivité : à leur lecture ou à leur écoute, nous nous sentons récepteurs plutôt qu'acteurs.</h6>
    <h6>Avec <i>Changer la vie</i>, nous voulons publier des informations qui précèdent l'action. <b>Issues de la presse nationale comme locale</b>, elles mettent à l'honneur et en lumière <b>l'engagement, le risque, la création</b>, et ouvrent à d'inattendus horizons de l'imagination, suscitent un "<i>c'est étonnant</i>", déclenchent un "<i>pourquoi pas moi</i>". </h6>
    <h6>Ces <b>"inform-actions"</b> peuvent vous inspirer tout de suite ou bien plus tard. Vous pouvez les ranger dans une bibliothèque, votre bibliothèque. <i>"Changer la vie"</i> se veut participatif : si vous identifiez des actions, des informations, des innovations similaires, n'hésitez à vous adresser à nous.</h6>
    <h6><b>A vous de jouer !</b></h6>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/bottom_bar' %>
