<%= render 'shared/navbar' %>
<div class="container-fluid col-md-centered-6 col-sm-7 col-lg-centered-6 colorcontainer marginauto">
  <div class="row-fluid mb-lg-5 mb-md-5 mb-sm-6">
    <div class="about">
      <div class="title">
      <h4><b>Nous contacter</b></h4>
      </div>
      <div class="explications">
        <h6><i>A mon tour !</i> est participatif.</h6>
        <h6>Les contributions de ses lecteurs sont plus que possibles : elles sont les bienvenues.</h6>
        <h6>Vous avez identifié une "inform'action" ? N'hésitez pas à nous en faire part, par téléphone au 06 67 06 31 79 ou par mail :</h6>

    <%= render 'shared/form' %>

      </div>
    </div>
  </div>
</div>
<%= render 'shared/bottom_bar' %>
