<%= render 'shared/navbar' %>
<div class="container-fluid col-md-centered-6 col-sm-7 col-lg-centered-6 colorcontainer marginauto">
  <div class="row-fluid mb-lg-5 mb-md-5 mb-sm-6">
    <div class="about">
      <div class="title">
      <h5><b>Nous contacter</b></h5>
      </div>
      <div class="explications">
        <h6><i>A mon tour !</i> est participatif : les contributions de ses lecteurs sont plus que possibles : elles sont les bienvenues.</h6>
    <h6>Vous avez identifié une "inform'action" ? N'hésitez pas à nous en faire part : <b>a-mon-tour@gmail.com</b></h6>

      </div>
    </div>
  </div>
</div>
<%= render 'shared/bottom_bar' %>
