<% content_for :meta_title %>
<% content_for :meta_description %>
<% content_for :meta_image %>
<div class="container fondcontainer">
    <div class="row justify-content-center">
      <div class="logoquater">
        <%= image_tag "amontourexclamation.jpeg", class: "logo" %>
      </div>
    </div>

    <div class="row justify-content-center">
        <div class="textebis">
          <p><b></b></p>
          <p><b>&Eacutetonner</b></p>
          <p><b>&Eacuteclairer</b></p>
          <p><b>Entraîner</b></p>
        </div>
    </div>

    <div class="row justify-content-center">
      <div class="bouton1bis">
         <%= link_to "SE CONNECTER", libraries_path, method: :post, class: "bouton1" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="bouton2bis">
       <%= link_to "S'INSCRIRE", new_user_registration_path, class: "bouton2" %>
      </div>
    </div>
</div>
