.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 65px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 17px;
  position: sticky;
  bottom: 0;
  border-top: solid;
  border-top-width: 2px;
  border-top-color: #138A36;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  text-justify: center;
  color: #138A36;
  font-style: bold;
  font-size: 14px;
  text-align: center;
  font-style: serif;
}

.footer img {
  margin: 0 auto;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: blue;

}

.footer-links a {
  color: #138A36;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 2;
}
.footer .fa-heart {
  color: blue;
}

.logobottom {
  height: 30px;
  display: flex;
}

.footer :hover {
  color: #138A36;
  opacity: 0.6;
  text-decoration: none;
}

.paddingbottom {
  padding-top: 65px;
}

.logobottom :hover {
  height: 50px;
}

.logocentre {
width: 100px;
}
