.navbar-lewagon {
  justify-content: space-evenly;
  background: white;
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  top: 0;
  z-index: 2;
}

.navbarlogos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.paddingnavbar {
  padding-bottom: 57px;
}

.logonavbar {
  height: 29px;
  width: auto;
}

.logonavbar2 {
  height: 39px;
  width: auto;
}


.logonavbar-centre {
  height: 50px;
  width: auto;
  padding-bottom: 2px;
}

.logonavbar:hover {
  color: #138A36;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



.navbar .navbar-toggler-icon {
background-image: url('hamburger.png');
}

.navbar .navbar-toggler {
  border: dotted;
  border-width: 1px;
  border-color: #138A36;
}








// .navbar-lewagon .navbar-brand img {
//   width: 85px;
//   position: absolute;
//   top: 1px;
//   left: -0px;
// }

// .slogan {
//   line-height: 1px;
//   font-size: 25px;
//   font-style: times;
//   color: #138A36;
//   font-weight: bold;
//   word-spacing: 8px;
//   padding-top: 10px;
//   padding-left: 30px
// }

// .slogan p {
//   font-size: 15px;
// }


// .sloganbis {
//   line-height: 1px;
//   font-size: 25px;
//   font-style: times;
//   color: #138A36;
//   font-weight: bold;
//   font-style: italic;
//   word-spacing: 8px;
//   padding-top: 10px;
//   padding-left: 30px
// }

// .sloganbis p {
//   line-height: 1px;
//   font-size: 15px;
//   font-style: times;
//   color: #34403A;
//   font-weight: bold;
//   word-spacing: 4px;
//   padding-left: 17px
// }
