.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 67px;
  position: absolute;
  top: -11px;
  left: -0px;
}

.slogan {
  line-height: 1px;
  font-size: 25px;
  font-style: times;
  color: #138A36;
  font-weight: bold;
  font-style: italic;
  word-spacing: 8px;
  padding-top: 10px;
  padding-left: 30px
}

.slogan p {
  font-size: 13px;
}


.sloganbis {
  line-height: 1px;
  font-size: 25px;
  font-style: times;
  color: #138A36;
  font-weight: bold;
  font-style: italic;
  word-spacing: 8px;
  padding-top: 10px;
  padding-left: 30px
}

.sloganbis p {
  line-height: 1px;
  font-size: 15px;
  font-style: times;
  color: #34403A;
  font-weight: bold;
  word-spacing: 4px;
  padding-left: 17px
}


.navbarlogos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.wagonbar {
  position: sticky;
  z-index: 100;
}

.paddingnavbar {
  padding-bottom: 57px;
}
