// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article{
  h2{ font-size: 2rem; color: #138A36;}
  h3{ font-size: 1.5rem; font-weight: bold; color: #285238;}
}